﻿@model LoginViewModel

<table>
    <tr>
        <td><img src="~/images/login.jpg" alt="Click to Login" class="center-block" /></td>
        <td>
            <div class="row loginForm">
                <div class="col-md-8 col-md-offset-2">
                    <h2>Login</h2>
                    <form asp-controller="Account" asp-action="Login" method="post" class="form-horizontal" role="form">
                        <h4>Inform user and password.</h4>
                        <hr />
                        <input type="hidden" asp-for="ReturnUrl" />
                        <div class="form-group">
                            <label asp-for="Username" class="col-md-2 control-label"></label>
                            <div class="col-md-12">
                                <input asp-for="Username" class="form-control" />
                                <span asp-validation-for="Username" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group">
                            <label asp-for="Password" class="col-md-2 control-label"></label>
                            <div class="col-md-12">
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>

                        <div class="form-group pull-right formPullRightButton">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" class="btn btn-success" value="Log in" />
                                @* value = deixei conforme o exemplo para saber onde é chamado *@
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </td>
    </tr>
</table>