﻿@model LoginViewModel

<table>
    <tr>
        <td><img src="~/images/register.jpg" alt="Register a new user" class="center-block" /></td>
        <td>
            <div class="row loginForm">
                <div class="col-md-8 col-md-offset-2">
                    <h2>Create a new User</h2>
                    <form asp-controller="Account" asp-action="Register" method="post" class="form-horizontal" role="form">
                        <h4>Register a new User to choose your restaurant.</h4>
                        <hr />
                        <div class="form-group">
                            <label asp-for="Username" class="col-md-2 control-label"></label>
                            <div class="col-md-12">
                                <input asp-for="Username" class="form-control" />
                                <span asp-validation-for="Username" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label asp-for="Password" class="col-md-2 control-label"></label>
                            <div class="col-md-12">
                                <input asp-for="Password" class="form-control" />
                                <span asp-validation-for="Password" class="text-danger"></span>
                            </div>
                        </div>
                        <div class="form-group pull-right formPullRightButton">
                            <div class="col-md-offset-2 col-md-10">
                                <input type="submit" class="btn btn-success" value="Registrar" />
                                @* value = deixei em PTBR para saber onde é chamado *@
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </td>
    </tr>
</table>
